

html {
  font-size: 62.5%; 
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: karla,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}



/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'menuTop'
    'navbar'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 8em 4rem 1fr 200px;
  height: 100%;
  
}
menuTop {
  grid-area: menuTop;
  text-align: center !important;

}
.center-top{
  text-align: center;
  background-color: #2B2E34 !important;
}
.navbar{
  grid-area: navbar;
  height: 4rem;
  background-color: white;
  margin-bottom: 0px !important;
  
}
.colorNavbar{
  background-color: #2B2E34 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 1.7px !important;
  margin-left: -3px !important;
  margin-right: -3px !important;
  text-align: center;
}
.dividerLine{
  background-color: rgb(121, 121, 121);
  height: 4px !important;
}
.dividerAllProduct{
  margin-top: 60px !important;
  background-color: black;
  margin-left: 60px !important;
  margin-right: 60px !important;
}
.containerNavbar{
  margin-left: 12px !important;
  /* margin-right: 60px !important; */
  font-size: 1.5rem !important ;
  /* display: inline-flex !important; */

}
.space{
  width: 900px;
}
.textNav{
  font-weight: bold;
}

main {
  grid-area: main;
  background-color: white;
  /* width: 1520px !important; */
  width: 100%;
}
footer {
  grid-area: footer;
  text-align: center;
  
  background-color: #2B2E34;
  color: #ffffff;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: karla,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
  height: 50px;
  font-size: 1.5rem !important;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  position: absolute;
  left: 35px;
  background-color: #ffffff;
  color: red;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
  margin-top: 60px;
  margin-left: 60px;
}
.row.start {
  justify-content: flex-start;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  body{
    
  }
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}

.p-1 {
  padding: 1rem;
}
.p-3{
  padding: 3rem;
}
.mr-3{
  margin-right: 30px;
}

.content{
  text-align: center;
}
.center-item {
  justify-content: center;
}
/* Image */
.imgLogo {
  margin-left: 10px;
  padding: 0.4rem;
  top: -20px;
}
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
} 
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}
.small {
  max-width: 5rem !important;
  width: 100% !important;
} 
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}
.carousel{
  width: fit-content;
  max-width: 1530px;
  height: 310px;
  justify-content: center;
  margin: 0px !important;
  padding: 0px !important;
  background-color: lightcoral !important;
  
}
.slick-slide img {
  display: inline-block !important;
}
.imgCarousel{
  /* width: 100%; */

  height: 348px !important; 
  min-height: 348px !important;
  object-fit: cover;
}
.imgCRS{
  background-image: url('image/carouselBR.png');
  background-size: cover;
}
.nameProductCarousel{
  font-weight: bold;
  color: white;

}
.justify-center{
  display: inline-block;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  text-align: center;
  width: 380px !important;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
  color: black !important;
}
.productNameCard{
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.productNameCard:hover{
  color: #F66249;
}

.priceCard{
  /* text-align: center; */
  color: black !important;
  font-size: 20px;
}
.alignCenter{
  text-align: center !important;
}
.cardProductScreen{
  display: inline-block !important;
}
.btnAddtoCart{
  width: 100%;
  height: 50px;
  font-size: 20px !important;
}


/* Review Area */
.reviewArea{
  margin-top: 20px;
  margin-left: 60px;
  text-align: left;
}
/* Rating */
.rating span {
  color: #F66249;
  font-weight: bold;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #F66249 !important;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex !important;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
/* .dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
  color: #2020a0 !important;
} */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.6rem #bbacaa solid;
  /* color: #F43818; */
  flex: 1;
  padding: 1rem;
  font-weight: bold;
  margin-left: 90px;
}
.checkout-steps > div.activeCK {
  border-top-color: #F43818;
  color: #F43818;
}
.activeCK{
  color: #a02020 !important;
  font-weight: bolder;
}
.centerText{
  text-align: center;
  color: #a02020;
  font-weight: bolder;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table th {
  font-weight: bold;
}
.table button {
  margin: 0 0.2rem;
}

/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}
.active {
  color: rgb(199, 138, 24) !important;
  font-weight: bold;
  /* font-size: 2rem; */
}


/* Search */
.search button {
  background-color: aqua;
  border-radius:0 0.5rem 0.5rem 0;
  border-right: none;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
}




/* Header segment */
.segmentHeader{
  background-color: #2B2E34 !important;
  height: 8.2rem;
  max-width: 100%;
  padding: 0rem !important;
  display: inline-block !important;

  
}

.brandName{
  margin-left: 0.5em;
  top: 30px;
  color:white !important;
  font-family: fantasy;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px #a02020;
}
.brandName:hover{
  color: wheat !important;
  text-shadow: 2px 2px 5px #a02020;
  cursor: pointer;
}
.menuHeader{
  max-width: 2025px;
  width: 1290px;
  /* padding-left: 10px; */
  /* padding-right: 20px; */
  height: 128px !important;
  background-color: #2B2E34 !important;

}

.btnSignin{
  position: absolute;
  left: 60px;
  top: -30px;
}
.btnSignin :hover{
  color: wheat;
}
.linkText{
  color: #a02020;
  font-size: 1.5rem;
  font-weight: bold;
}
.txtDropdown{
  font-weight: bold;
  font-size: 20px;
}
.btnSignin1{
  position: absolute;
  left: 150px;
  right: 60px;
  width: 150px;
  top: -15px;
}
.iconCart{
  position: absolute;
  left: 90px;
  top: -25px;
}
.iconCart1{
  color: white !important;
}

.inputSearch{

  position: absolute;
  width: 500px;
}
.inputSearchContainer{
  position: absolute;
  width: 500px;
  top: -25px;
}
.dropdownItem{
  color: black !important;
}
.categoryDropdown{
  width: 200px !important; 
}
.topProduct{
  color: #a02020;
  text-align: center;
  text-shadow: 2px 2px 5px blackd;
  padding-top: 0px;
  font-weight: bold;
  font-size: 30px;
}

.medium-image {
  max-width: 29rem !important;
  width: 100% !important;
}

.product{
 margin: 0.5rem !important;
 width: 335px !important;
}
.contain-product{
  margin-left: 60px !important;
  margin-right: 60px !important;
}

/* Cart Screen */
.cart-Label{
  margin-top: 30px !important;
  text-align: center;
  text-emphasis: unset;
  color: #a02020 !important;
  font-family: fantasy;
  font-weight: bold;
}

.cartProductName{
  
  color:#25262B !important;
}
.cartNameContainer{
  width: 300px !important;
}
.selectItem{
  position: absolute;
  right: 220px;
  cursor: pointer;
}

.itemPrice{
  position: absolute;
  right: 120px;
  color: black !important;
  font-weight: bold;
}
.goShopping{
  color: #a02020 !important;
}
.labelResult{
  color: #2B2E34 !important;
}
 /* SearchResultScreen */
.nameCategory{
  color: #a02020 !important;
}
.activeName{
  color: #790000 !important;
  font-weight: bolder;

}

.namePrice{
  color: #a02020 !important;
  font-size: 1rem;
}
.textCategory{
  color: #2B2E34;
  font-weight: bolder;

}
.mt-20{
  margin-top: 20px !important;
}
.allProductLable{
  margin-top: 40px !important;
}
.noProduct{
  color: #a02020 !important;
  font-size: 3rem !important;

  font-weight: bolder !important;
}

/* LoadingBox */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #a02020;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

/* ProductScreen */
.description{
  color: #717171;
  font-size: 1.2rem;
}
.reviewMess{
  margin: 1rem !important;
}
.reviewForm{
  width: 1000px !important;
  margin: auto !important;
  width: 50% !important;
  border: 3px solid white !important;
  padding: 10px !important;
  margin-top: 30px !important;
  margin-bottom: 50px !important;
}
.pt-1{
  padding-top: 1rem !important;
}
.userReview{
  color: black !important;
  font-size: 1rem;
  font-weight: bold;
}
.reviewContent{
  color: #717171 !important;
}
.lighterText{
  color: #a4a4a4 !important;
  font-size: 0.8rem !important;
}
.textRating{
  font-size: 1.2rem !important;
  color: #2B2E34 !important;
}

.hoverBtn:hover{
  background-color  : #F43818 !important;
}
.textAlign{
  text-align:right !important;
}
.colorLink{
  color: #e78e18 !important;
  font-weight: bold !important;
}
.textCenter{
  text-align: center !important;
}
.btnSubmit{
  width: 100px !important;
  margin: auto !important;
  width: 50% !important;
  
}

/* Pagination */
.pagination a {
  padding: 1rem;
  color: #000000 !important;
  margin: 0.5rem;
  border-radius: 0.5rem;
  /* border: 0.1rem #a4a4a4 solid; */
  font-size: 1.6rem;
  font-family: karla,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
  color: #F66249 !important;
}
/* Search Resutl Screen */
.ml-60{
  margin-left: 60px;
}
.mr-60{
  margin-right: 60px;
}
.numProduct{
  color: #a02020 !important;
  font-weight: bold;
}
.textSort{
  font-size: 1.5rem;
}
.textWhite{
  color: white;
}

.box select {
  background-color: #777785;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box select option {
  padding: 30px;
}

.centerItem{
  margin: auto !important;
}
/* Shipping Address */
.containerForm{
  background-color: #e4e4e4;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left;
}
.containerForm label{
 font-weight: bolder;
}
.namePayMethod{
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
.radioBt{
  margin-right: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.textWhite{
  color: #FFFFFF;
}

/* Place Order Screen */
.card-placeorder {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  text-align: left;
}
.card-body-placeorder {
  padding: 1rem;
}
.card-body-placeorder > * {
  margin-bottom: 0.5rem;
}
.card-placeorder h2{
  color: #a02020;
}
.card-placeorder a{
  color: #2B2E34;
  font-weight: bold;
}
.textLb{
  color: #a02020;
  font-weight: bold;
}
.ml-30{
  margin-left: 30px;
  margin-right: 30px;
}
.nameOrder{
  margin-top: 30px !important;
  margin-left: 70px;
}
/* product List Screen */
.btnCreateProduct{
  float: right;
  margin-bottom: 30px;

}
/* product Edit Screen */
.inputChooseImg{
  color: #a02020;
  font-weight: bold;
}
/* User Edit Screen */
.inLine{
  display: inline !important;
}
.inLine input{
  margin-right: 20px;
  width: 20px;
  height: 18px;
}

/* Chatbox */
.chatbox {
  color: #000000;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  resize: none !important;
  z-index: 100;
}
.chatbox ul {
  /* overflow: none; */
  max-height: 28rem;
  min-height: 28rem;
  /* max-width: 24rem; */
  white-space: pre-wrap !important;

  
}
.chatbox li {
  margin-bottom: 1rem;
  text-align: left;
  word-break: break-word !important;
  
}

.chatbox input {
  width: calc(100% - 9rem);
}

.support-users {
  background: #f0f0f0;
  height: 100%;
  
}
/* .support-users li {
  background-color: #f8f8f8;
} */
.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}
.support-users li {
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 0.1rem;
}

.support-users li:hover {
  background-color: #f0f0f0;
}
.support-users li.selected {
  background-color: #c0c0c0;
}
.support-messages {
  padding: 1rem;
  border-left:1px solid #f02020;
  margin-left: 5px;
}
.support-messages input {
  width: calc(100% - 9rem);
}
.support-messages ul {
  height: calc(100vh - 18rem);
  max-height: calc(100vh - 18rem);
  overflow: scroll;
}
.support-messages li {
  margin-bottom: 1rem;
}

.support-users span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  left: 300px;
}
.support-users .offline {
  background-color: #808080;
}
.support-users .online {
  background-color: #20a020;
}
.support-users .unread {
  background-color: #f02020;
}
.iconMess{
  padding-left: 10px;
  color: #f02020;
  cursor: pointer;
}
.iconClose{
  color: #f02020;
  cursor: pointer;
}
.supportLabel{
  color: #a02020;
  font-weight: bold;
  font-size: 1.5rem;
}
.inputMessAdmin{
  width: calc(100% - 9rem);
}
.btnSelectUser{
  background-color: transparent;
  /* text-align: left; */
  border-radius: 5px;
}

.imgFix img{

  width: 100%;

  height: 348px !important; 
  min-height: 348px !important;
  object-fit: cover;
}

.mb4{
  margin-bottom: 40px !important;
}

.button_action{
  width: 180px;
}

 /* footer */
 .footerContainer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  /* height: 250px; */
}
.footerLienhe{
    position: fixed !important;
}

.columnFooter {
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding: 10px;
  text-align: center;
  color: white;
  padding: 2rem;
}
.columnFooter :hover{
    color: #f02020;
}
/* 
.row:after {
  content: "";
  display: table;
  clear: both;
} */

.columnFooter fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.linkWhite{
  color: white !important;
}
.linkWhite:hover{
  color: #f02020 !important;
}
.headerChatPopup .icon{
  margin-left: 130px !important;
  padding-left: 20px !important;
}
.headerChatPopup .icon:hover{
  cursor: pointer;
}
.helloText{
  font-size: 1.5rem !important;
}
.headerChatPopup{
  font-size: 1.5rem !important;
}

/* Chat */



  
  
  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
  }

  .other-message {
    background: #D8DADF;
  }
  
  .my-message {
    background: #e25e3d;
    margin-right: 10px;
    color: white !important;
  }

  .my-message::after {
    border-bottom-color: #e25e3d !important;
    left: 93% !important;
    
  }

  .message {      
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 7px;
    width: 80%;
    position: relative;
    margin-bottom: 10px;
    height: auto;
  }

  .message::after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    /* pointer-events: none; */
    border-bottom-color: #D8DADF;
    border-width: 10px;
    margin-left: -10px;
  }



.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.message-data {
  margin-bottom: 15px;
}

/* .mess-div{
  margin-top: 60px;
} */

.mess-mutichat{
  /* padding-top: 60px !important; */
  /*  margin-top: 60px !important; */
  /* margin-bottom: 60px !important; */
}
.not-me{
  color: #D8DADF;
}
.me{
 color: #e25e3d;
 margin-right: 10px;
}

.ul-message{
  padding: 20px;
  
}

.li-message{
 overflow-y: hidden;
}

.loginContainer{
  background: rgb(143,10,10);
  background: radial-gradient(circle, rgba(143,10,10,1) 0%, rgba(191,166,166,1) 100%);
  height:430px !important ;
  padding-top: 70px;
  text-align:center;
  
}

.formLogin {
  width: 300px; 
  height: 300px;
}
.columnLogin {
  float: left;
  width: 50%;
  padding: 10px;
}
/* Clear floats after the columns */
.rowLogin{
  background-color: white !important;
  display: inline-block;
  border-radius: 10px;
  height: 300px !important;
  width: 60rem;
  /* padding-bottom: 30px; */
}
.rowLogin:after {
  content: "";
  display: table;
  clear: both;
}


#cf {
  position:relative;
  height:440px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}
.containerImageLogin img{
  width: 280px;
  height: 280px;
  vertical-align: middle;
}
.signLabel{
  font-size: 1.5rem;
  margin-top: 10px !important;
}
.signLabelLoad{
  color: white !important;
  font-size: 1.5rem;
  margin-top: 10px !important;
}
.formLogin input{
  border-radius: 15px !important;
  font-weight: bold;
  background-color: #a4a4a4;
  font-size: 1rem;
}

.createAcountLoginLabel{
  font-size: 1.2rem;
}
.createAcountLoginLabel:hover{
  color: #501c04;
  box-shadow: 0px 10px 14px -7px #e0150e;
}

.btnLogin {
	box-shadow: 0px 10px 14px -7px #732a27;
	background:linear-gradient(to bottom, #e47070 5%, #9e0606 100%);
	background-color:#b35959;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:8px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8a693d;
}
.loginLoad{
  position: absolute;
  top: 250px;
  left: 870px;
  z-index: 100;
}
.btnSelectUser{
  border-radius: 10px !important;
}
.text-left{
  text-align: left;
}
.price-weight{
  font-size: 1.5rem ;
}
.container-table{
  margin-right: 60px;
  margin-left: 60px !important;
}