html {
  font-size: 62.5%; 
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'menuTop'
    'navbar'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 10em 4.3rem 1fr 5rem;
  height: 100%;
}
menuTop {
  grid-area: menuTop;

}
.navbar{
  grid-area: navbar;
  height: 8rem;
  background-color: black;
}
main {
  grid-area: main;
  padding: 1rem;
  background-color: #2C2C24;
}
footer {
  grid-area: footer;
  text-align: center;
  
  background-color: black;
  color: #ffffff;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: transparent;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}

.p-1 {
  padding: 1rem;
}
/* Aside */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}
.min-30 {
  min-width: 30rem;
}
/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
} 
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}
.small {
  max-width: 5rem !important;
  width: 100% !important;
} 

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
  color: black !important;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #f0c040;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
/* .dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
  color: #2020a0 !important;
} */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}

/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}
.active {
  color: #f0c040 !important;
  font-weight: bold;
  /* font-size: 2rem; */
}

/* Map */
.full-container {
  margin: -1rem;
  /* height: calc(100% + 2rem); */
  height: 500px;
  width: 500px; 
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

/* Search */
.search button {
  background-color: aqua;
  border-radius:0 0.5rem 0.5rem 0;
  border-right: none;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
}


/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}

/* Header segment */
.segmentHeader{
  height: 10rem;
  max-width: 1540px;
  
}

.brandName{
  margin-left: 0.5em;
  color:#FBC21B !important;
  font-family: fantasy;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px red;
}
.brandName:hover{
  color: white !important;
  cursor: pointer;
}
.menuHeader{
  max-width: 1519px;

}

.btnSignin{
  position: absolute;
  left: 135px;
  /* width: 130px; */
}
.btnSignin1{
  position: absolute;
  left: 170px;
  width: 150px;
}
.iconCart{
  position: absolute;
  left: 150px;
}

.inputSearch{
  position: absolute;
  width: 500px;
}
.inputSearchContainer{
  width: 500px;
}
.dropdownItem{
  color: black !important;
}
.categoryDropdown{
  width: 200px !important; 
}
.topProduct{
  color: #efefef;
  text-align: center;
  text-shadow: 2px 2px 5px yellow;
}

.medium-image {
  max-width: 29rem !important;
  width: 100% !important;
}

.product{
 margin: 2rem !important;
}
.contain-product{
  margin-left: 3rem !important;
}

/* Cart Screen */
.cart-Label{
  text-align: center;
  text-emphasis: unset;
  color: yellow !important;
  font-family: fantasy;
  font-weight: bold;
  text-shadow: 2px 2px 5px #ff8000;
}

.cartProductName{
  color: white !important;
}
.selectItem{
  position: absolute;
  background-color: blanchedalmond;
  right: 200px;
  cursor: pointer;
}

.itemPrice{
  position: absolute;
  right: 120px;
  color: #f0c040 !important;
  font-weight: bold;
}
.goShopping{
  color: #f08000 !important;
}
.labelResult{
  color: #e0e0ff !important;
}
 /* SearchResultScreen */
.nameCategory{
  color: yellow !important;
}
.textCategory{
  color: #e78e18;
  font-weight: bolder;

}
.noProduct{
  color: #e78e18 !important;
  font-size: 3rem !important;

  font-weight: bolder !important;
}

/* LoadingBox */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgb(228, 198, 30);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

/* ProductScreen */
.description{
  color:#f4f4f4;
  font-size: 1.5rem;
}
.reviewMess{
  margin: 1rem !important;
}
.reviewForm{
  width: 1000px !important;
  margin: auto !important;
  width: 50% !important;
  border: 3px solid white !important;
  padding: 10px !important;
}
.pt-1{
  padding-top: 1rem !important;
}
.userReview{
  color: #e0e0ff !important;
  font-size: 1rem;
  font-weight: bold;
}
.lighterText{
  color: #a4a4a4 !important;
  font-size: 0.8rem !important;
}
.hoverBtn:hover{
  background-color  : #f0c040 !important;
}
.textAlign{
  text-align:right !important;
}
.colorLink{
  color: #e78e18 !important;
  font-weight: bold !important;
}
.textCenter{
  text-align: center !important;
}
.btnSubmit{
  width: 100px !important;
  margin: auto !important;
  width: 50% !important;
  
}

/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}